/* application colours: yellow: F0CA4D, black: 324D5C, red: DE5B49, Green: 46B29D, Orange: E37B40 */

$yellow: #F0CA4D;

$black: #324D5C;

$red: #DE5B49;

$green: #46B29D;

$orange: #E37B40;

$white: #ffffff;