.feature {
	background-color: $yellow;
	margin-top: 80px;

}

.feature img {
position: relative;
width: 100%;
max-width: none;
padding: 0;
top: -85px;
}

.feature .column-8 {
padding: 15px 15px;
}

.column-9.feature{
	padding-bottom: 0;
}