nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $white;

li {
	float: left;


a {
	display: block;
    color: $black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
}

li a:hover {
    background-color: $black;
    color: $white;
}

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

