body {
	font-family: 'Questrial', sans-serif;
}

h1 {
	font-family: 'Arvo', serif;
	font-size: 42px;
	padding-top: 50px;
}

h2 {
	font-family: 'Arvo', serif;
	font-size: 36px;
	padding-top: 50px;
}

.feature {
	font-family: 'Quicksand', sans-serif;
	font-size: 46px;
}