@import 'styles/colour';
@import 'styles/grid';
@import 'styles/typography';
@import 'styles/nav';
@import 'styles/feature';
@import 'styles/steps';
@import 'styles/card';

.full-page {
  border-top: 20px solid $green;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
